<div class="page-header">
  <h1>
    Milestones
    <a href="/milestones/new" class="btn btn-lg btn-success">New Milestone</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Infant</th>
        <th>Photo</th>
        <th>Date</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

      <% @milestones.each do |milestone| %>
      <tr>
        <td><%= milestone.infant_id %></td>
        <td><%= milestone.photo %></td>
        <td><%= milestone.date %></td>
        <td><%= milestone.description %></td>
        <td>
          <a href="/milestones/<%= milestone.id %>" class="btn btn-primary">Show</a>
          <a href="/milestones/<%= milestone.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_milestone/<%= milestone.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
