<!-- Validation failure messages -->
<% if @milestone.errors.any? %>
  <% @milestone.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Milestone</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_milestone" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for infant_id -->
      <div class="form-group">
        <label for="infant_id" class="control-label">
          Infant
        </label>

        <input type="text" id="infant_id" name="infant_id" placeholder="Infant" class="form-control" value="<%= @milestone.infant_id %>">
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo of Milestone
        </label>

          <input type="file" id="photo" name="photo" class="form-control">
        </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="<%= Time.now.strftime("%D") %>" class="form-control" value= "<%= Time.now.strftime("%D") %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @milestone.description %>">
      </div>

      <button class="btn btn-success">
        Create Milestone
      </button>
      or
      <a href="/milestones">Cancel</a>
    </form>
  </div>
</div>
