<div class="page-header">
  <h3>Milestone #<%= @milestone.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Infant</dt>
      <dd><%= @milestone.infant_id %></dd>

      <dt>Photo</dt>
      <dd><%= @milestone.photo %></dd>

      <dt>Date</dt>
      <dd><%= @milestone.date %></dd>

      <dt>Description</dt>
      <dd><%= @milestone.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/milestones" class="btn btn-primary">
        Back
      </a>
      <a href="/milestones/<%= @milestone.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_milestone/<%= @milestone.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
