<div class="page-header">
  <h3>Feeding #<%= @feeding.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Infant</dt>
      <dd><%= @feeding.infant_id %></dd>

      <dt>Note</dt>
      <dd><%= @feeding.note %></dd>

      <dt>Amount</dt>
      <dd><%= @feeding.amount %></dd>

      <dt>Date</dt>
      <dd><%= @feeding.date %></dd>

      <dt>Time</dt>
      <dd><%= @feeding.time %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/feedings" class="btn btn-primary">
        Back
      </a>
      <a href="/feedings/<%= @feeding.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_feeding/<%= @feeding.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
