<!-- Validation failure messages -->
<% if @infant.errors.any? %>
  <% @infant.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Change Name or Picture for <%= @infant.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_infant/<%= @infant.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_account_id -->
          <input type="hidden" id="user_account_id" name="user_account_id" placeholder="User account" class="form-control" value="<%= @infant.user_account_id %>">

          <!-- Input for Infant name -->
          <div class="form-group">
            <label for="name" class="control-label">
              Baby's name
            </label>

            <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @infant.name %>">
          </div>
          <!-- Input for Infant image URL -->
          <div class="form-group">
            <input type="file" id="image" name="image" class="form-control">


          </div>


      <button class="btn btn-info">
        Update Infant
      </button>
      or
      <a href="/infants">Cancel</a>
    </form>
  </div>
</div>
